MVCLab2/Service References/Servicio/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerTerritory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerTerritory" nillable="true" type="tns:CustomerTerritory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerTerritory" nillable="true" type="tns:ArrayOfCustomerTerritory" />
  <xs:complexType name="CustomerTerritory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Territorio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerTerritory" nillable="true" type="tns:CustomerTerritory" />
</xs:schema>